#nav_container{
  margin:0;
  position: relative;
  display:flex;
  justify-content: space-around;
	background-color: #333;
  height: 80px;
  z-index: 30;
}

.button{
  width: 180px;
  padding: 20px;
  margin-top: 10px;
  background-color: white;
  color: #333;
  border:1px solid rgb(3, 130, 180);
  cursor: pointer;
  border-radius: 20px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;

}
