<body>
	<header>
		<h1>Biblioteka Miejska</h1>

	</header>

	<main>
		<section>
			<h2>Ostatnio dodane książki</h2>
			<ul>
				<li><a href="#">Książka 10</a></li>
				<li><a href="#">Książka 2</a></li>
				<li><a href="#">Książka 3</a></li>
			</ul>
		</section>

		<section>
			<h2>Najczęściej wypożyczane książki</h2>
			<ol>
				<li><a href="#">Książka 1</a></li>
				<li><a href="#">Książka 2</a></li>
				<li><a href="#">Książka 3</a></li>
			</ol>
		</section>
	</main>

	<footer>
    <a routerLink="/zwrot">Zwrot książki</a>
		<p>2023 Biblioteka Miejska</p>
	</footer>
</body>
