<body>
	<header>
		<h1>Biblioteka Miejska</h1>

	</header>

	<main>
		<section>
      <h1>Nasi autorzy</h1>
			<div class="card" *ngFor="let author of authors">
        <h2 class="title">{{author.FirstName}} {{author.LastName}}</h2>
        <p class="description">{{author.Description}}</p>
        <div *ngFor="let book of author.books">
          <p class="description">{{book.Title}}</p>
        </div>
        <br>
      </div>
		</section>


	</main>

	<footer>
    <a routerLink="/zwrot">ADMIN</a>
		<p>2023 Biblioteka Miejska</p>
	</footer>
</body>
